.App{
    background-color: rgb(30, 25, 25);
    min-height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}
.root-layout{
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(41, 43, 59, 0.9);
}
.root-layout h1{
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 35px;
}
.root-layout ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10vw;
    justify-content: center;
    width: 100vw;
    margin-top: 10vh;
}
.root-layout ul li a{
    text-decoration: none;
    color: rgb(174, 117, 37);
    font-weight: 600;
    font-size: 20px;
}
.root-layout ul li .nav-active{
    color: rgb(255, 170, 52);
    text-decoration: underline;
}
.all-event,.home,.CreateEvent,.login,.register{
    margin-top: 25vh;
}
.register h1,.login h1{
    text-align: center;
}
/*  */
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45vw;
}
form label{
    display: flex;
    flex-direction: column;
}
form label input{
    margin-top: 5px;
    background-color: rgb(88, 86, 86);
    height: 30px;
    border: 1px solid rgb(210, 209, 209);
}
.CreateEvent form label textarea{
    margin-top: 5px;
    background-color: rgb(88, 86, 86);
    border: 1px solid rgb(210, 209, 209);
} 
.CreateEvent form .description input {
    height: 100px;
}
.button-wrap{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button{
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 16px;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-light{
    background-color: rgb(223, 211, 74);
    color: black;
}
.all-event{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 5vh;
}
.all-event a{
    color: white;
    text-decoration: none;
}
.events-wrap{
    border: solid 2px white;
    border-radius: 5px;
    width: 60vw;
}
.events-wrap .event-description{
    white-space: pre-line;
}
.events-wrap .event-image img{
    width: 100%;
    height: auto;
    object-fit: contain;
}